html, body {
    height: 100%;
    min-width: $min-width;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.layout {
    &--default {
        max-width: $max-width;
        margin: 0 auto;
    }
}

.content {
    @include clearfix();

    min-height: 3000px;
}