.logo {
    display: inline-block;
    text-decoration: none;
    margin-top: 1.5rem;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
        text-decoration: none;
    }

    &:hover {
        .logo__image {
            box-shadow: 0 0 16px rgba(0, 0, 0, .8);
        }

        .logo__name,
        .logo__slogan {
            color: $brand-primary;
        }
    }

    @include media-breakpoint-up(sm) {
        margin-left: -8.75rem;
    }

    @include media-breakpoint-up(lg) {
        margin-left: -11.25rem;
    }

    &__image {
        width: 6.25rem;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);

        @include media-breakpoint-up(sm) {
            float: left;
            width: 8.75rem;
            margin-right: 2rem;
            margin-bottom: 1rem;
        }

        @include media-breakpoint-up(lg) {
            width: 11.25rem;
        }
    }

    &__name,
    &__slogan {
        color: $gray;
        white-space: nowrap;
    }

    &__name {
        font-size: 2rem;
        margin: 0.5rem 0 -0.5rem;

        @include media-breakpoint-up(sm) {
            margin-top: 2.25rem;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 3.125rem;
        }
    }
}