<nav class="navigation--sticky-header">
    <a href="index.html">NAVIGATION HEADER</a>
    <a href="#" class="offcanvas__show-left-nav">Show Left</a> |
    <a href="#" class="offcanvas__show-right-nav">Show Right</a>
</nav>