<header class="header" data-header-sticky>
    <div class="header__wrap">

        <a href="index.html" class="logo">
            <img src="_assets/logo.jpg" class="logo__image" alt="Jan Rembold | web developer">
            <h1 class="logo__name">Jan Rembold</h1>
            <p class="logo__slogan">web developer</p>
        </a>

        <nav class="navigation">

            <button class="navigation__mobile hamburger hamburger--htx" data-offcanvas-show="right">
                <span class="hamburger__bar">toggle menu</span>
            </button>

            <ul class="navigation__desktop">
                <li>
                    <a href="">articles</a>
                </li>
                <li>
                    <a href="">about</a>
                </li>
            </ul>

        </nav>

    </div>
</header>