.navigation {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $grid-gutter-width;

    &__mobile {
        float: left;
        margin-top: 12px;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__top {
        float: left;
        margin: 24px 0 0;
        padding: 0;
        list-style: none;

        @include media-breakpoint-down(sm) {
            display: none;
        }

        > li {
            float: left;
            margin-left: 24px;

            &:first-child {
                margin-left: 0;
            }

            a {
                display: block;
                text-transform: uppercase;
            }
        }
    }

    &__social {
        float: right;
        margin: 12px 0 0;
        padding: 0;
        list-style: none;

        > li {
            float: left;
            margin-left: 12px;

            &:first-child {
                margin-left: 0;
            }

            a {
                display: block;
            }
        }
    }
}
