.navigation {
    &__mobile {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        text-decoration: none;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__desktop {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            display: table-cell;
            vertical-align: middle;
            //float: left;
            //width: auto;
            //height: 100%;
            border-left: 1px solid #000;

            a {
                //display: block;
                //height: 100%;
            }
        }

        @media (min-width: 768px) {
            display: table;
        }
    }
}