<header class="header" data-header-sticky>
    <div class="header__sticky">
        <nav class="navigation">

            {{inc "transformicons/hamburger.hbs" additionalClass="navigation__mobile" offcanvasShow="left"}}

            <ul class="navigation__top">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Articles</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
            </ul>

            <ul class="navigation__social">
                <li>
                    <a class="icon icon--github" href="https://github.com/janrembold" alt="Jan Rembold @ Github" target="_blank">Github</a>
                </li>
                <li>
                    <a class="icon icon--facebook" href="https://www.facebook.com/jan.rembold" alt="Jan Rembold @ Facebook" target="_blank">Facebook</a>
                </li>
                <li>
                    <a class="icon icon--xing" href="https://www.xing.com/profile/Jan_Rembold" alt="Jan Rembold @ Xing" target="_blank">Xing</a>
                </li>
                <li>
                    <a class="icon icon--linkedin" href="https://de.linkedin.com/pub/jan-rembold/17/b24/67b" alt="Jan Rembold @ LinkedIn" target="_blank">LinkedIn</a>
                </li>
            </ul>

        </nav>
    </div>

    <div class="header__logo">

        <a href="index.html" class="logo">
            <img src="_assets/logo.jpg" class="logo__image" alt="Jan Rembold | web developer">
            <h1 class="logo__name">Jan Rembold</h1>
            <p class="logo__slogan">web developer</p>
        </a>

    </div>
</header>