<!DOCTYPE html>
<html lang="de">
<head>
    {{> meta.default}}

    <title>{{page.title}}</title>

    {{> styles.default}}
    {{> scripts.head}}
</head>
<body>
    {{> body}}
    {{> scripts.default}}
</body>
</html>