<!DOCTYPE html>
<html lang="de">
<head>
    {{> meta.default}}

    <title>{{page.title}}</title>

    {{> styles.default}}
    {{> scripts.head}}
</head>
<body>
    <div class="offcanvas offcanvas--fixed-height layout--default">
        <div class="offcanvas__inner">
            {{inc "navigation/header.sticky.hbs" }}
            <main class="content">{{> body}}</main>
            <aside class="offcanvas__area offcanvas__area--left">
                {{inc "list/list.unordered.hbs" }}
            </aside>
            <aside class="offcanvas__area offcanvas__area--right">
                {{inc "list/list.unordered.hbs" }}
            </aside>
            <a class="offcanvas__exit"></a>
        </div>
    </div>

    {{> scripts.default}}
</body>
</html>