<button class="hamburger hamburger--htx{{#if additionalClass}} {{additionalClass}}{{/if}}"{{#if offcanvasShow}} data-offcanvas-show="{{offcanvasShow}}"{{/if}}>
    <span class="hamburger__bar">toggle menu</span>
</button>