<ul>
    <li>Short text</li>
    <li>Word</li>
    <li>Some more words</li>
    <li>Even longer text to force a line break along the way</li>
    <li>Some text and numbers 1234</li>
    <li>Short text</li>
    <li>Word</li>
    <li>Some more words</li>
    <li>Even longer text to force a line break along the way</li>
    <li>Some text and numbers 1234</li>
    <li>Short text</li>
    <li>Some more words</li>
    <li>Even longer text to force a line break along the way</li>
    <li>Some text and numbers 1234</li>
    <li>Word</li>
    <li>Some more words</li>
    <li>Even longer text to force a line break along the way</li>
    <li>Some text and numbers 1234</li>
    <li>Short text</li>
    <li>Word</li>
    <li>Some more words</li>
    <li>Even longer text to force a line break along the way</li>
    <li>Some text and numbers 1234</li>
    <li>Short text</li>
    <li>Some more words</li>
    <li>Even longer text to force a line break along the way</li>
    <li>Some text and numbers 1234</li>
</ul>