---
title: 'Index'
---

<ul>
    {{#each pages}}
        {{#compare basename "!==" "_useminPrepare"}}
            {{#data}}
                <li><a href="{{../basename}}.html">{{title}}</a></li>
            {{/data}}
        {{/compare}}
    {{/each}}
</ul>